* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: block;
    clear: both;
}

.top {
    padding-top: 30px;
    width: 100%;
    height: 170px;
    background: #105fa5 url("image/heabd.jpg") no-repeat center;/*CSS中地址使用左斜杠/*/

}
.posi {
    width: 75%;
    margin: 0 auto;/*水平居中*/
}

/*-------------------------------------------------头部内容-------------------------------------------------*/
.topbox{
    height: 100%;
}
.top1{
    display: flex;
    padding-bottom: 30px;
}
.logo{
    float: left;
    width: 60%;
    height: 60%;
}
.logoimg{
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.top_right{
    display: flex;
    float: right;
    margin-left: auto;/*占满左边的剩余空间”，结果就是元素向右移动*/
}
.searchbox{
    float: right;
    display: flex;/*让输入框和搜索icon在同一行*/
    margin: auto 0;
    width: 156px;
    height: 25px;
    background: transparent;
    border: 1px white solid;
}
.search_input{
    background: transparent;
    float: left;
    width: 120px;
    height: 100%;
    font-size: 15px;
    border: none;
    color:white;
    opacity: 0.5;
}
.search_input::placeholder{
    font-size: 13px;
    color: white;
    opacity: 0.5;
}
/*去掉input输入框的黑色框*/
input.search_input:focus{
    outline: none;
}
.search_icon{
    background: transparent;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 10px;
    border: none;
}


.old_address{
    float: right;
    color: white;
    font-size: 15px;
    margin-left: auto;
}
.old_address>a{
    text-decoration: none;/*取消下划线*/
    color: white;
}

/*munebox*/
.menubox{
    background:  #105fa5 url("image/navbd.jpg") no-repeat center;
    height: 40px;
    display: block;
    font-size:18px;
}

.menu>ul{
    list-style-type:none;
}

.menu_item{
    float: left;
    width: 9.09%;
    line-height: 40px;/*行高与height相同，文字就会垂直居中*/
    text-align: center;/*水平居中*/
    position: relative;/*让子元素相对于此定位*/
}


.menu_link{
    display: inline-block;
    text-decoration: none;/*取消下划线*/
    color: white;
}
/*鼠标悬停时菜单栏背景变色*/
/*：hover伪类选择器，用于定义当用户将鼠标指针悬停在一个元素上时，该元素呈现的样式*/
.menu_item:hover{
    background:rgb(55, 135, 206);
}

/*让鼠标移动到导航项时候，下拉列表出现*/
.menu_item:hover ul>li{
    display: list-item;
    
}
.menu_item>ul{
    /*通过定位，使得下拉列表脱离父元素的宽度relative和absolute*/
    position: absolute;

    top: 100%;/*让元素的上边缘，对齐到父元素内容区的下边缘*/
    left: 0;
    min-width: 100%;
    z-index: 10;
}
/*难点：宽度由内容撑开,发现有宽度继承的原因*/
.menu_item>ul>li{
    font-size: 15px;
    padding: 0 5px;
    list-style-type: none;
    /*改变下拉列表的颜色*/
    background-color: white;
    /*下来列表不显示*/
    display: none;
    
    /*↓这两行很重要*/
    width: auto;
    white-space: nowrap;/*强制不换行*/


}

/*鼠标悬停时x下拉列表背景变色*/
.menu_item>ul>li:hover{
    background-color: rgb(55, 135, 206);
}


/*以下7部分大框*/

.wrapper-outer{
    width: 100%;
    margin: 0 auto;
}

/*-----------------------------------------轮播图部分-------------------------------------------*/
.wp1{
    display: block;
    background: url("image/banbd.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}

/*轮播图父容器*/
.slideshow {
    height: 450px;
    position: relative;

}

.big_box_img{
    position: absolute;
    width: 100%;
    height:450px;

    
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
}

.big_box_img.active{
    opacity: 1;
    
}

/*实现轮播效果*/


/*鼠标放上轮播图，显示两侧箭头*/
.slideshow:hover .slid_left{
    display: inline;
    
}
.slideshow:hover .slid_right{
    display: inline;
    
}

.slid_left{
    position: absolute;
    height: 80px;
    width: 40px;
    font-size: 40px;
    top: 45%;
    left: 0;
    background:url("image/slide_next.png") #00000071 no-repeat center;
    color: white;
    text-align: center;
    border-radius: 5px;

    display: none;
}
.slid_right{
    position: absolute;
     height: 80px;
    width: 40px;
    font-size: 20px;
    top: 45%;
    right: 0;
    background:url("image/slide_pre.png") #00000071 no-repeat center;
    color: white;
    text-align: center;
    border-radius: 5px;

    display: none;
}

/*鼠标放上左右箭头，背景颜色加深*/
.slid_left:hover{
    background-color: black;
}
.slid_right:hover{
    background-color: black;
}

/*轮播图下方小圆点*/
.box_zhiding1{
    position: absolute;
    bottom: 5%;
    right: 45%;
    display: none;
}

.box_zhiding1 a{
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    float: left;
}

/*鼠标放上轮播图，显示下方小圆点*/
.slideshow:hover .box_zhiding1{
    display: inline;
    
}
/*鼠标放到具体原点，颜色加深*/
.box_zhiding1 a:hover{
    background-color: rgba(255, 255, 255, 1);
}

.box_zhiding1 a.big_focus_page{
    background-color: rgba(255, 255, 255, 1);
}


/*---------------------------------内容1的部分--------------------------------------*/
.ct1{
    background: url("image/main.png") no-repeat;
}

.content1 {
    height: 400px;
    display: flex;
}
.ct1_div1{
    flex: 2;/*占两份*/
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
}
.ct1_div2{
    flex: 1;/*占一份*/
    /* background-color: #6d8396; */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

/*----------------------通用模块-----------------------*/
.ct1_left_up{
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 5px;
    margin-bottom: 15px;
    height: 30px;
}
.ct1_left_up .text1{
    display: inline-block;
    width: 100px;
    height: 30px;
    align-items: center;
    text-align: center;
    color:#105fa5;
    background-color:#bedcf6;
    border-radius: 15px 15px 0 0;
    font-size: 18px;
    font-weight: bolder;
}
.ct1_left_up .text2{
    display: block;
    float: right;
    font-size: 16px;
    color: #666666;
}
/*------------------------------------------------*/

.ct1_left_bottom{
    width: 100%;
    display: flex;
}

.ct1_div1_left{
    flex: 1;
    margin-right: 10px;
    position: relative;
    display: flex;
}

.ct1_div1_right{
    flex: 1;
    margin-left: 10px;
    /* background-color: #105fa5; */
}


.left_slid{
    width: 365px;
    position: relative;
    height: 250px;
    display: block;
}
.left_img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}



.slid_bottom{
    height: 40px;
    font-size: 18px;
    background-color: #f1f1f1;
    line-height: 40px;/*文字垂直居中*/
}

.slid_bottom a{
    text-decoration: none;/*取消下划线*/
    color: #105fa5;
}

.slid_bottom:hover a{
    color: white;
}

/*箭头*/
.ct1_slid_left{
    position: absolute;
    height: 40px;
    width: 20px;
    top: 45%;
    left: 0;
    background:url("image/slide_next.png") #00000071 no-repeat center;
    color: white;
    text-align: center;
    border-radius: 5px;

    display: none;

}
.ct1_slid_right{
    position: absolute;
    height: 40px;
    width: 20px;
    top: 45%;
    right: 0;
    background:url("image/slide_pre.png") #00000071 no-repeat center;
    color: white;
    text-align: center;
    border-radius: 5px;

    display: none;

}

/*鼠标放上轮播图，显示两侧箭头*/
.ct1_div1_left:hover .ct1_slid_left{
    display: inline;
    
}
.ct1_div1_left:hover .ct1_slid_right{
    display: inline;
    
}

/*鼠标放上左右箭头，背景颜色加深*/
.ct1_slid_left:hover{
    background-color: black;
}
.ct1_slid_right:hover{
    background-color: black;
}

/*五个圆点，一直显示*/
.box_zhiding2{
    /*图片在容器中位于水平居中、垂直底部*/
    background: url("image/focus.png") no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 38px;
    display: flex;
    align-items: center;/*垂直居中*/
    justify-content: right;
}
.box_zhiding2>a{
    display: flex;
    margin-top: 50%;
    width: 7px;
    height: 7px;
    margin: 3px;
    background-color: rgba(255, 255, 255);
}
/*当前的页面对应变色*/
.box_zhiding2 .little_focus_page{
    background-color: #105fa5;
}

/*中间内容*/
.ct1_div1_right li{
    list-style: none;
    font-family: "微软雅黑";
}
.ct1_div1_right a{
    text-decoration: none;
}
.ct1_a1 .li1 a,.ct1_a1 .li3 a{
    color: black;
    font-size: 17px;
    font-weight: bold
}
.ct1_a1 .li2 a,.ct1_a1 .li4 a{
    font-size: 13px;
    color: rgb(97, 86, 86)
}

.ct1_a1 .li2{
    height: 20px;
    margin-top: 5px;
    border-bottom: dashed 1px rgb(97, 86, 86);
}

.ct1_a1 .li3{
    margin-top:10px;
}
.ct1_a1 .li4{
    margin-top: 5px;
    height: 40px;
    border-bottom: dashed 1px rgb(97, 86, 86);
}
.ct1_a2 ul{
    margin-top: 10px;
    /* background-color: aquamarine; */
    height: 150px;
    display: flex;
    flex-direction: column;
}


/*------------------好几个模块通用------------------*/
.ct1_a2 li{
    list-style: none;
    display: block;
    flex: 1;
    height: 25%;
    font-size: 15px;
}
.normal_li a{
    font-family: "微软雅黑";
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/*---------------------------------------------------*/

/*内容1  最右侧新闻部分*/

.news_list{
    list-style: none;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.news_list li{
    flex: 1;
    display: block;
    margin: 5px;
}
.news_date{
    /* background-color: chartreuse; */
    width: 70px;
    height: 70px;
    display: block;
    float: left;
    text-align: center;
}
.news_day{
    font-size: 25px;
    color: white;
    width: 100%;
    height: 60%;
    background-color:#004891;
    transition: all 0.5s ease-in-out;
}
.news_ym{
    font-size: 15px;
    color: #737373;
    margin-top: 2px;
    width: 100%;
    height: 40%;
    background-color: #E6E6E6;
}
.news_title{
    margin-left: 90px;
    line-height: 30px;
}
.news_title a{
    margin-left: 5px;
    margin-right: 5px;
    font-family: "微软雅黑";
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.n1:hover .news_day{
    
    background-color: #d6bd88;
}
.n2:hover .news_day{
    
    background-color: #d6bd88;
}
.n3:hover .news_day{
    
    background-color: #d6bd88;
}

/*----------------------------------------第二部分内容---------------------------------------*/

.ct2{
    background: url("image/main3.png") no-repeat;
    background-size: cover;
}
.content2{
    /* background-color: rgb(144, 111, 70); */
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.content2>.ct2_m{
    flex:1;
}
.ct2_m1{
    padding-right: 20px;
}
.ct2_m2{
    padding-left: 20px;
    padding-right: 20px;
}
.ct2_m3{
    padding-left: 20px;
}
.ct2_li{
    display: block;
    line-height: 20px;
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.ct2_li .ct2_tt a{
    float: left;
    width: 300px;
    /* background-color: coral; */
    font-family: "微软雅黑";
    text-decoration: none;
    color: #3B3B3B;
    font-size: 14px;
    line-height: 20px;
}
.ct2_li .ct2_date{
    /* background-color: #f1f1f1; */
    display: block;
    float: right;
    font-family: "微软雅黑";
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    
}


/*---------------------------内容3----------------------------*/




.content3 {
    /* background-color: rgb(120, 185, 137); */
}
.content3 .ct1_left_up{
    margin-bottom: 0;
    border-bottom: 1px solid #E6E6E6;
}

.ct3_tdiv{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
}
/*这是一个“伪元素”，专门用来选中滚动条的样式*/
.ct3_tdiv::-webkit-scrollbar{
    display: none;
}
.group1{
    display: flex;
    gap: 0 50px;
    animation: spin 20s infinite linear;
    padding-right: 50px;
}
.card{
    height: 250px;
    width: 250px;
    /* background-color: #105fa5; */
    
}
.card .card_text a{
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    font-family: "微软雅黑";
    text-decoration: none;
    color: #3B3B3B;
}

/*关键帧动画*/
@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}

/*鼠标悬浮暂停*/
.ct3_tdiv.paused .group1{
    animation-play-state: paused;
}



/*----------------------------------内容4------------------------------------*/

.content4 {
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: rgb(185, 117, 199); */
    /* border: 1px solid black; */
}
.content4 .ct1_left_up{
    margin-bottom: 0;
    border-bottom: 1px solid #E6E6E6;
}
.ct4_middle{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ct4_list{
    list-style: none;
    /*这个元素变成网格容器，它的直接子元素会自动变成网格项*/
    display: grid;

    grid-template-columns: 1fr 1fr 1fr; /* 三列等宽 */
    /*设置行与行之间、列与列之间的间距为 16px*/
    gap: 16px; /* 行和列之间的间距 */

}
.major_li{
    height: 50px;
    background-color: #ebf1f5;
    border: 1px solid #b9c9d7;
    text-align: center;/*让a标签左右居中*/
}
.major_div a{
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #3b3b3b;
    font-family: "微软雅黑";
    transition: all .4s ease-in-out
}
.major_li:hover .major_div>a{
    color: #105fa5;
    
}
.ct4_bottom{
    width: 100%;
    height: 30px;
}
.ct4_bottom img{
    float: right;
}



/*----------------------------------------内容5--------------------------------------*/

.content5 {
    /* background-color: rgb(218, 104, 125); */
}
.content5 .ct1_left_up{
    margin-bottom: 0;
    border-bottom: 1px solid #E6E6E6;
}

.ct5_bottom{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.inner_list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);/*使用表格，等分成7份*/
    gap: 0 20px;
}
.inner_source{
    width: 100%;
    height: 100%;
}
.inner_source>div{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    /* border: 1px solid black; */
}

.sc1{
    background:url("image/icon1.png") no-repeat ;
    background-size: cover;
}
.sc2{
    background:url("image/icon2.png") no-repeat ;
    background-size: cover;
}
.sc3{
    background:url("image/icon3.png") no-repeat ;
    background-size: cover;
}
.sc4{
    background:url("image/icon4.png") no-repeat ;
    background-size: cover;
}
.sc5{
    background:url("image/icon5.png") no-repeat ;
    background-size: cover;
}
.sc6{
    background:url("image/icon6.png") no-repeat ;
    background-size: cover;
}
.sc7{
    background:url("image/icon7.png") no-repeat ;
    background-size: cover;
}

.inner_source>div a{
    display: inline-block;
    padding-top: 40px;
    line-height: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #3b3b3b;
    font-family: "微软雅黑";
    transition: all .4s ease-in-out
}

.inner_source:hover a{
    color: #105fa5;
}



/*---------------------------------------底部----------------------------------------*/

.ct_bottom{
    width: 100%;
    height: 230px;
    background-color: #105fa5;
}

.bottom {
    background-color: rgb(68, 98, 196);
}