
.outer{
  /* background-color: rgb(140, 255, 127); */
  height: 100vh;/* 最低高度占满屏幕 */
  display: flex;
  flex-direction: column;
}
.header{
  width: 100%;
  height: 100px;
  background-color: rgb(21, 48, 42);
  font-size: 20px;
  display: grid;
  place-items: center;
}
.header>h1{
  color: white;
  margin: 0;
  /* 水平偏移 垂直偏移 模糊程度  颜色 */
text-shadow: 5px 5px 0px rgba(163, 234, 218, 0.373);
}
.middle{
  margin: 0 40px ;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.sider{
  margin: 0 10px;
  background-color: rgb(215, 236, 231);
  padding: 20px;
  overflow-y: auto;
}
.middle-content{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content{
  flex: 1;
  margin: 0 10px;
  background-color: rgba(193, 193, 193, 0.15);
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
}
.footer{
  width: 100%;
  padding: 0;
  height: 50px;
  background-color: rgb(21, 48, 42);
  color: white;
  font-size: 14px;
  display: grid;
  place-items: center;
}
.left-outer{
  margin: 0px auto;
  width: 90%;
  height: 600px;
  border: 5px solid orange;
}
.itemCreator{
  display: flex;
  flex-direction: column;
}
.itemCreator>h2{
  margin: 3px auto;
}
.itemCreator>hr{
  width: 95%;
  margin: 3px auto;
}
.creator-div{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.creator-div>Button{
  width: 160px;
  height: 30px;
  margin: 3px auto;
  border-radius: 10px;
  font-size: 16px;
}
.filter-div{
  /* background-color: white; */
  margin-top: 5px;
  margin-bottom: 15px;
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.select{
  width: 100%;
  max-width: 120px;
  height: 30px;
  /* margin: 0 auto; */
}
.show-div{
  display: flex;
  flex-direction: column;
}
.card-wapper{
  overflow-x: hidden;
}

